* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
main {
  padding: 26px;
  width: 800px;
  border-radius: 6px;
  background: #3498DB;
  text-align: center;
}
main h1 {
  margin-bottom: 26px;
  font-size: 30px;
}
main .board {
  display: grid;
  padding: 1px;
  float: left;
  width: 448px;
  height: 448px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  row-gap: 1px;
  column-gap: 1px;
  border: 1px double #000;
}
main .board .square {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
main .board .square.food {
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.8);
}
main .board .square.snake {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
}
main .side {
  float: left;
  margin-left: 20px;
  width: 280px;
}
main .side .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 10px;
  border: 1px solid #000;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
main .side .control {
  margin-top: 30px;
  height: 218px;
}
main .side .control button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #5AC923;
  cursor: pointer;
  outline: none;
}
main .side .control .btns button {
  margin-left: 5px;
}
main .side .control .operate {
  position: relative;
  margin: 25px auto;
  width: 190px;
}
main .side .control .operate button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #629FF5;
  font-size: 1.5em;
}
main .side .control .operate button.up {
  top: 0;
  left: 65px;
}
main .side .control .operate button.down {
  top: 65px;
  left: 65px;
}
main .side .control .operate button.left {
  top: 65px;
  left: 0;
}
main .side .control .operate button.right {
  top: 65px;
  left: 130px;
}
.ref {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-size: 10px;
  line-height: 1.5;
}
@media screen and (max-width: 820px) {
  main {
    width: 500px;
  }
  main .side {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  main .side .info {
    width: 33%;
    float: left;
    height: 100px;
    padding: 5px;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 12px;
  }
  main .side .control {
    float: left;
    height: 100px;
    margin-top: 0;
    padding-left: 20px;
    width: 67%;
  }
  main .side .control .btns {
    float: right;
    margin-left: 35px;
    padding-top: 30px;
    padding-right: 10px;
  }
  main .side .control .operate {
    float: right;
    margin: 0;
    width: 100px;
    height: 100px;
  }
  main .side .control .operate button {
    width: 40px;
    height: 40px;
  }
  main .side .control .operate button.up {
    top: 10px;
    left: 42px;
  }
  main .side .control .operate button.down {
    top: 52px;
    left: 42px;
  }
  main .side .control .operate button.left {
    top: 52px;
    left: 0;
  }
  main .side .control .operate button.right {
    top: 52px;
    left: 84px;
  }
}
@media screen and (max-width: 500px) {
  .box {
    margin: 0;
  }
  main {
    width: 100vw;
  }
  main h1 {
    font-size: 8vw;
  }
  main .board {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    padding: 0;
  }
  main .side .info {
    font-size: 2vw;
  }
  main .side .control button {
    width: 6vw;
    height: 6vw;
    font-size: 1vw !important;
    text-align: center;
    align-items: flex-end;
  }
  main .side .control .btns {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main .side .control .operate {
    float: left;
    margin-top: 1vw;
    margin-left: 6vw;
  }
  main .side .control .operate button {
    width: 10vw;
    height: 10vw;
  }
  main .side .control .operate button.up {
    top: 0;
    left: 11vw;
  }
  main .side .control .operate button.down {
    top: 11vw;
    left: 11vw;
  }
  main .side .control .operate button.left {
    top: 11vw;
    left: 0;
  }
  main .side .control .operate button.right {
    top: 11vw;
    left: 22vw;
  }
}
